---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 24 2021')}
	readingTime='1'
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		👋 Hello, I'm Gaurav @GrvExplorer! 🚀 MERN stack developer with a passion for crafting elegant and efficient web applications💻 🎨 Aspiring UI/UX Design & Marketer
	</p>

	<p>
		I am Current working as a Software Developer for my self and also working as a freelancer. I have a passion for web development and love to create new things. I am a self-taught developer and I have been working in the field of web development for the past 2 years. I have experience in working with technologies like React, Node.js, Express.js, MongoDB, and tailwind. I am always looking to learn new things and improve my skills.
	</p>

	<p class="">
		I am also learning rust for developing embedded systems and also because it is difficult to learn. I am also learning about UI/UX design and marketing to improve my skills and knowledge. I am always looking for new opportunities to learn and grow. 
	</p>
</Layout>
